<h2>Title: <%= @article.title %></h2>
<p>Contents: <%= @article.content %></p>
<%= link_to 'All articles', articles_path %>
<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to "Delete", article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
